.profileInfo {
    display: grid;

}
.description {
    padding-left: 20px;
    padding-right: 600px;
    float: right;
}
.ava {
    padding-top: 10px;
    padding-left: 10px;
    width: 200px;
    height: 200px;
}
.profileStatus {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom : 20px;
}
.contactFormError {
    padding: 5px;
    color: red;
}